name: Test

on:
  push:
    branches:
      - main
    paths-ignore: &pathsIgnore
      - 'docs/**'
      - 'examples/**'
      - 'kustomize/**'
      - 'README.md'
  pull_request:
    branches:
      - main
    paths-ignore: *pathsIgnore

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Test
        run: go test ./...
